.logo-web-paragraph
{
	width: 22%;
}

section > div:nth-child(2)
{
	margin-left: 5%;
	margin-right: 5%;
}

section p
{
	margin-top: 10%;
	text-align: justify;
	font-size: 1.7em;
}

#logo-bas
{
	margin-top: 30%;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#logo-bas > div
{
	width: 100%;
	text-align: center;
}

#logo-bas > div > img
{
	width: 60%;
}