.logo-web-paragraph
{
	width: 22%;
}

section > div:nth-child(2)
{
	margin-left: 5%;
	margin-right: 5%;
}

section p
{
	margin-top: 10%;
	text-align: justify;
	font-size: 1.5em;
}

#logo-bas
{
	display: flex;
	width: 100%;
	margin-top: 10%;
}

#logo-bas > div
{
	width: 100%;
	text-align: center;
}

#logo-bas > div > img
{
	width: 60%;
}

footer
{
	position: absolute;
	bottom: 0;
}