@font-face {
    font-family: 'alefregular';
    src: url('../polices/alef-regular-webfont.woff2') format('woff2'),
         url('../polices/alef-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alefbold';
    src: url('../polices/alef-bold-webfont.woff2') format('woff2'),
         url('../polices/alef-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{
	margin: 0;
	padding: 0;
	font-family: alefregular;
}

body
{
	width: 100%;
	height: 100vh;
	background-color: #D2FEEE;
	margin: auto;
}


/* ############################################################ */

/* ********** HEADER ********** */
header
{
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	box-shadow: 0px 5px 15px brown;
	margin-bottom: 50px;
}

.logo-header
{
	width: 60%;
}

.image-banner
{
	width: 100%;
}

/* Menu déroulant du header */
nav
{
	padding-top: 5%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

nav > ul:after
{
	content: "";
	display: block;
	clear: both;

}

nav > ul > li
{
	position: relative;
}

nav li
{
	list-style-type: none;
	text-align: center;
	border-bottom: 2px solid orange;
}

nav li:last-child
{
	border-bottom: none;
}

/* Gestion affichage des sous-élements */

.submenu
{
	display: none;
	border-radius: 15px;
	width: 600px;
}

nav li:hover .submenu /* réafficher au survol */
{
	background-color: #712727; /* #712727 */
	opacity: 0.95;
	display: inline-block;
	position: absolute;
	top: 100%;
	right: 0%;
}


 .submenu li a
{
	text-decoration: none;
	font-size: 2.8em;
	color: rgb(157, 191, 21);
	padding-top: 4%;
	padding-bottom: 4%;
	display: inline-block;
	width: 100%;
}

/* ############################################################ */

/* ********** FOOTER ********** */
footer
{
	background-color: #9DBF15;
	height: 100px;
	line-height: 100px;
	width: 100%;
	font-size: 2em;
	text-align: center;
	align-items: center;
}
/* ############################################################ */

/* Connexion / inscription */

#login
{
	padding-top: 5%;
	font-size: 1.6em;
}

#login > p
{
	text-decoration: none;
	color: #712727;
	cursor: pointer;
}

/* ********** MODALE ********** */

#modaleLog
{
	background-color: rgba(100,100,100, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
}

#log
{
	background-color: #D2FEEE;
	background-image: url("./../img/ferme-modale.png");
	background-position: center;
	background-size: cover;
	margin: auto;
	margin-top: 40%;
	padding-bottom: 5%;
	width: 85%;
	height: auto;
	font-size: 1.6em;
	font-weight: bold;
	border: 2px solid black;
	color: #712727;
}

#log > form
{
	font-size: 1.5em;
	width: 90%;
	margin: auto;
	padding-top: 5%;
}

#log > form input
{
	font-size: 1.2em;
	width: 100%;
	height: 50px;
	border: 1px solid black;
	border-radius: 50px;
	text-indent: 10%;
	margin-bottom: 3%;
}

#log > form > div
{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
}

#log > form > div > input
{
	font-size: 1.1em;
	text-indent: 0;
	line-height: 50px;
	width: 60%;
	height: 100%;
	margin-top: 5%;
}

#log > div
{
	width: 90%;
	margin: auto;
	padding-top: 10%;
}

#log a
{
	font-size: 1.5em;
	color: #712727;
}

/* ############################################################ */