# Désactiver l'affichage du contenu des répertoires
Options All -Indexes

# Alternative pour empêcher le listage des répertoires
IndexIgnore *

# Masquer les informations du serveur
ServerSignature Off

# Protéger le fichier wp-config.php
<files logbdd.php>
order allow,deny
deny from all
</files>